<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        #sensor-plot-container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        canvas {
            width: 100%;
            height: auto;
            display: block;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const sensor = "<%= sensor %>";
        async function chart(data) {
const sensorData= data;
console.log(sensorData);
const timestamps = sensorData.map(entry => new Date(entry.current_time));
const values = sensorData.map(entry => entry.value);
const ctx = document.getElementById('sensor-plot').getContext('2d');
new Chart(ctx, {
    type: 'line',
    data: {
        labels: timestamps,
        datasets: [{
            label: 'Sensor Data',
            data: values,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: false,
        }]
    },
    options: {
        scales: {
            x: [{
                type: 'time',
                time: {
                    unit: 'minute',
                    displayFormats: {
                        minute: 'HH:mm',
                    },
                },
                position: 'bottom'
            }],
            y: [{
                type: 'linear',
                position: 'left'
            }]
        }
    }
});
};
fetch(`/data/${sensor}`)
.then(response => {
    if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
})
.then(data => chart(data))
.catch(error => console.log(error));
    </script> 
</head>
<body>
    <div id="sensor-plot-container">
        <h1>Sensor Data for <%= sensor %></h1>
        <canvas id="sensor-plot" width="800" height="400"></canvas>
    </div>
</body>

</html>
